@tailwind base;
@tailwind components;
@tailwind utilities;

.contact{
    animation: moveText 5s linear infinite;
    animation-duration: 20s;
}
@keyframes moveText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Ocultar la barra de scroll pero mantener la funcionalidad */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}