@tailwind base;
@tailwind components;
@tailwind utilities;

.contact{
    animation: moveText 5s linear infinite;
    animation-duration: 20s;
}
@keyframes moveText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

